@keyframes writer {
	25% {
		content: '';
	}
	30% {
		content: 'H';
	}
	35% {
		content: 'Hi';
	}
	40% {
		content: 'Hi,';
	}
	45% {
		content: 'Hi, ';
	}
	50% {
		content: 'Hi, I';
	}
	55% {
		content: 'Hi, I ';
	}
	60% {
		content: 'Hi, I a';
	}
	65% {
		content: 'Hi, I am';
	}
	70% {
		content: 'Hi, I am ';
	}
	75% {
		content: 'Hi, I am  D';
	}
	80% {
		content: 'Hi, I am Da';
	}
	85% {
		content: 'Hi, I am Daa';
	}
	90% {
		content: 'Hi, I am Daam';
	}
	95% {
		content: 'Hi, I am Daami';
	}
	100% {
		content: 'Hi, I am Daamin';
	}
}

#typewriter-container {
	font-family: arial, sans-serif;
	font-size: 40px;
	padding: 0;
	margin: 0;
	display: inline;
}

#typewriter::before {
	content: '';
	animation: writer 2s linear forwards;
	animation-delay: 1s;
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.blinking {
	animation: blink 0.75s infinite;
}
